footer {
    background-color: #09516E;
    display: flex;
    padding: 55px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    bottom: 0;
    width: 100%; 
    position: relative;

}

.footer-section {
    flex: 1;
    margin: 0 10px;
    
}

.footer-section h3 {
    margin-bottom: 10px;
}

.copyright {
    bottom: 10px;
    align-items: center;
    position: absolute;
}